# build output
dist/

# generated
.astro/
.netlify/
.cache/
# comes from netlify edge functions on netlify dev
deno.lock

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store