@import "variables";

// Body
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark-style {
  filter: invert(1);
  .override-style {
    filter: invert(1);
  }
}

// Sidebar
.logo {
  max-width: 30px;
  margin: 30px auto;
}

.logo-wrapper {
  text-align: center;
  width: 90%;
}

// Header
.app-header {
  font-style: italic;
  text-shadow: 2px 2px $cell-colour--alive-new;
  white-space: nowrap;
}

// GameBoard
.game-board {
  background: $board-background;
  box-sizing: border-box;
  padding: 10px;
  margin: 0 auto;
}

.game-board__generation {
  text-align: center;
  .number {
    font-size: 200%;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline $cell-colour--alive-old;
  }
}

.game-board__species {
  text-align: center;
  input {
    border: 0;
    border-radius: 5px;
    box-shadow: inset 0 0 5px $cell-colour--alive-new;
    font-style: italic;
    padding: 3px 5px;
    background: transparent;
    text-align: center;
    &:focus {
      box-shadow: inset 0 0 15px $cell-colour--alive-old;
      outline: 0;
    }
  }
}

.game-board__row {
  display: flex;
  justify-content: center;
}

.game-board__cell {
  margin: $cell-margin;
  height: $cell-size;
  width: $cell-size;
  &.game-board__cell--dead {
    background: $cell-colour--dead;
  }
  &.game-board__cell--alive-new {
    background: $cell-colour--alive-new;
  }
  &.game-board__cell--alive-old {
    background: $cell-colour--alive-old;
  }
}
